body{
    background: linear-gradient(to right, #3e38aa, #9e9ece);
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

#image{
align-self: center;
border:3px solid white;
padding: 20px;
border-radius: 50%;
font-size: 48px;
}

#input-email{
    align-self: center;
    width: 350px;
    height: 30px;
    border-radius: 10px;
    border: transparent;
    padding: 10px;

}

#input-password{
    align-self: center;
    width: 350px;
    height: 30px;
    border-radius: 10px;
    border: transparent;
    padding: 10px;

}

#signUp{
    align-self: center;
    width: 250px;
    height: 50px;
    font-size: 30px;
    font-family: 'Algerian';
    color: white;
    font-weight: 800;
    background-color:orange;
    border-radius: 10px;
    border: transparent;
    cursor: pointer;
}

#GoogleSignUp{
    align-self: center;
    width: 300px;
    height: 50px;
    font-size: 30px;
    font-family: 'Algerian';
    color: white;
    font-weight: 800;
    background-color:orange;
    border-radius: 10px;
    border: transparent;
    cursor: pointer;
}

a{
    text-align: center;
    color: yellow;
}